.baground{
    background-color: blueviolet;
    margin: 30px;
}
img{
    height: 300px;
    width: 300px;
    margin-left: 500px;
    margin-top: 50px;
    padding:30px 10px 30px ;

}
p{
    margin-left: 150px;
    margin-right: 100px;
    padding:30px 10px 10px ;
    
}
.baground1{
    background-color: brown;
    margin: 30px;
}
.button
{
    /* height: 20px;
    width: 100px; */

    border-radius: 10px;
    margin-left: 600px;
    border: 1px solid white;
   margin-bottom: 20px;
   padding: 10px 20px;
}
h1{
    text-align: center;
    color: white;
}